* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header, nav,main,footer {
    width: 100%;
  }  
/* GENERAL */
body {
    margin: 0;
    padding: 0;
   font-family: Arial, sans-serif;
    
}

/* HEADER */
header {
    background-color: #2e2c2f;
    width: 100%;
    box-sizing: border-box;
}
header h3 {
    color: #efe102;
    font-size: 22px; /* Letra más grande */
    text-align: center;
    margin-top: 10px;
}
/* ENCABEZADO */
.encabezado {
    text-align: center;
    padding: 20px;
}

.encabezado h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #ffffff;
}
.encabezado h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color:#efe102;
}
.encabezado .exa {
    width: 276px;
    height: 183px;
    margin-right: 20px;
}
.encabezado .au {
    width: 194px;
    height: 205px;
    margin-left: 20px;
}
/* MAIN */
main {
    background-color: #efe102;
    max-width: 100%; /* Ancho fijo */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* NAV BAR */
.barra {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 15px 0;
    margin: 0;
    width: 100%;
}

.barra li {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}

.barra a {
    color: #000;
    text-decoration: none;
}
.barra a:hover {
    background-color: #efe102; /* amarillo */
    color: #000; /* negro */
    padding: 5px 10px; /* un poco de relleno para que se vea mejor */
    border-radius: 15px; /* esquinas redondeadas opcionales */
    transition: 0.9s; /* animación suave */
    border: 5px solid #000000;
}

/* TEXTO PRINCIPAL */
.texto {
    font-size: 20px; /* Letra más grande */
    color: #000;
    line-height: 1.6;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    padding-top:30px;
    border: 5px solid #000;
    margin-top:10px;
}
.texto h3{
    color: #efe102;
}
.texto h3:hover{
 background-color: #000;
    border-radius: 10px ;
    width: auto;
text-align: center;
}
b:hover{
    background-color: #f4ea67;
 border-radius: 5px #2a2725;
}

/* FOOTER */
footer {
    background-color: #2e2c2f;
    color: white;
    text-align: center;
    padding: 20px;
}
footer .au {
    width: 114px;
    height: 103px;
    margin-left: 20px;
}
footer .exa {
    width: 156px;
    height: 103px;
    margin-right: 20px;
}
/* FOOTER BAR */
.footer-barra {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 15px 0;
    margin: 30px;
    list-style: none;
    transition:0.6s;
}

.footer-barra li {
    margin: 0 15px;
}

.footer-barra a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.footer-barra a:hover {
    background-color: #efe102;
    border: 2px solid #000;
}