/* Aplica Montserrat como fuente principal */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Estilo para títulos grandes */
h1, h2 {
  font-weight: 700; /* Bold */
  letter-spacing: 1px;
}

/* Subtítulos o textos destacados */
h3, h4 {
  font-weight: 600; /* Semi-bold */
}

/* Texto normal */
p, li, span {
  font-weight: 400; /* Regular */
  font-size: 1rem;
  line-height: 1.6;
}


/* Estilo base: mobile first (desde 320px) */
.contenedor-articulos {
  display: grid;
  grid-template-columns: 1fr; /* 1 noticia por fila */
  gap: 20px;
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;
}

.titulo {
  font-size: 1.6rem;
}
.eslogan {
  font-size: 1rem;
}
.barra {
  flex-direction: row;
  align-items: center;
}
.barra li {
  margin: 10px 0;
}
.logos .exa, .logos .au {
  width: 150px;
  height: auto;
}
.texto {
  font-size: 18px;
  padding: 15px;
}
footer .exa, footer .au {
  width: 100px;
  height: auto;
}
.header-contenido {
  display: flex;
  align-items: center;
  background-color: #252326;
  padding: 10px 20px;
  gap: 15px; /* espacio entre elementos */
}

.articulo {
  height: 400px;
}

.texto-gral {
  font-size: larger;
}
/* MEDIA QUERIES PARA RESPONSIVE */
@media (width>= 1024px) {
  .barra {
    flex-direction: row;
    align-items: center;
  }
  .logos {
    flex-direction:row;
    gap: 10px;
  }
  .logos .exa, .logos .au {
    width: 200px;
    height: auto;
  }
  .footer-barra {
    flex-direction:row;
  }
  .contenedor-articulos {
    grid-template-columns: repeat(3, 1fr);
}

.articulo {
    height: 400px;
}

.texto-gral {
    font-size: larger;
}
}

/* Para tablets (768px hacia arriba hasta 1024) */
@media (width>= 768px)and (width<=1024px) {
    .barra {
      flex-direction: row;
      align-items: center;
    }
    .logos {
      flex-direction:row;
      gap: 10px;
    }
    .logos .exa, .logos .au {
      width: 200px;
      height: auto;
    }
    .footer-barra {
      flex-direction:row;
    }
    .contenedor-articulos {
      grid-template-columns: repeat(2, 1fr);
  }

  .articulo {
      height: 400px;
  }

  .texto-gral {
      font-size: larger;
  }
  }
  
  
  