/* MEDIA QUERIES PARA RESPONSIVE */

/* Para tablets (768px hacia abajo) */
@media (max-width: 768px) {
    .barra {
      flex-direction: row;
      align-items: center;
    }
    .logos {
      flex-direction:row;
      gap: 10px;
    }
    .logos .exa, .logos .au {
      width: 200px;
      height: auto;
    }
    .footer-barra {
      flex-direction:row;
    }
  }
  
  /* Para celulares (480px hacia abajo) */
  @media (max-width: 480px) {
    .titulo {
      font-size: 1.6rem;
    }
    .eslogan {
      font-size: 1rem;
    }
    .barra {
      flex-direction: row;
      align-items: center;
    }
    .barra li {
      margin: 10px 0;
    }
    .logos .exa, .logos .au {
      width: 150px;
      height: auto;
    }
    .texto {
      font-size: 18px;
      padding: 15px;
    }
    footer .exa, footer .au {
      width: 100px;
      height: auto;
    }
  }
  