
/* FOOTER */
footer {
    background-color: #2e2c2f;
    color: white;
    text-align: center;
    padding: 20px;
}
.logo-footer {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}
/* FOOTER BAR */
.footer-barra {
    display: flex;
    justify-content: center;
    background-color: #2e2f2c;
    padding: 15px 0;
    margin: 30px;
    list-style: none;
    transition:0.6s;
}
.footer-barra img{
    width: 70px;
}
.footer-barra li {
    margin: 0 15px;
}

.footer-barra a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
.footer-barra a:hover {
    background-color: #efe102;
    border: 2px solid #e6e5e5;
    color: rgb(0, 0, 0);
    padding-right: 0.5px;
}
