/* HEADER general */
header {
    background-color: #2e2c2f;
    width: 100%;
    box-sizing: border-box;
  }
  
  header h3 {
    color: #efe102;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
  }
  
  header img {
    height: 110px;
    justify-content: center;
    align-items: center;
  }
  
/* ENCABEZADO */
.encabezado {
    text-align: center;
    padding: 20px;
  }
  
  .encabezado h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #efe102;
  }
  
  .encabezado .exa {
    width: 276px;
    height: 183px;
    margin-right: 20px;
  }
  
  .encabezado .au {
    width: 194px;
    height: 205px;
    margin-left: 20px;
  }
  
  .encabezado-animado {
    text-align: center;
    padding: 20px;
    animation: slideIn 1.5s ease-out;
    border-bottom: 4px solid #000;
  }
  
  .encabezado-animado h1 {
    font-size: 2rem;
    color: #ffffff;
    margin: 0;
    animation: fadeIn 2s ease-in;
  }
  