main {
    background-color: #efe102;
    max-width: 100%; /* Ancho fijo */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* NAV BAR */
.barra {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 15px 0;
    margin: 0;
    width: 100%;
}

.barra li {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}

.barra a {
    color: #000;
    text-decoration: none;
}
.barra a:hover {
    background-color: #efe102; /* amarillo */
    color: #000; /* negro */
    padding: 5px 10px; /* un poco de relleno para que se vea mejor */
    border-radius: 15px; /* esquinas redondeadas opcionales */
    transition: 0.9s; /* animación suave */
    border: 5px solid #000000;
}
