/* Menú de navegación */
.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-enlace);
}

.menu a {
  color: #000000;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.1em;
  padding: 5px 10px;
  transition: background-color 0.3s, transform 0.2s; /* Transición */
  border: 10px solid transparent;
}

.menu a:hover {
  background-color: #ffffff;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  border-color: var(--color-borde-menu);
  transform: scale(1.1); /* Efecto de escala */
}

.menu a:focus,
.menu a:active {
  border-color: white;
}
