* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, main, footer {
    width: 100%;
}

/* GENERAL */
body {
    margin: 0;
    padding: 0; 
    background-color: #111;
}

/* CONTENEDOR PRINCIPAL */
.contenedor-articulos {
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
}

/* ARTÍCULO INDIVIDUAL */
.articulo {
    background-color: #000;
    color: #fff;
    border: 5px solid #fff;
    padding: 1rem;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* TEXTO */
.texto-articulo {
    flex: 1 1 300px;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.marquesina {
  display: inline-block;
  white-space: nowrap;
  animation: desplazamiento-horizontal 25s linear infinite;
}

.texto-noticia {
  width: 100%; /* Asegura que ocupe todo el contenedor negro */
  overflow: hidden; /* Oculta el texto que se desborda al comienzo y final */
  position: relative;
}


/* IMÁGENES */
 .portadas {
    width: 120px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
   align-items: center;
}

.CEFCE-logo{
    width: 120px;
}

/* ENCABEZADOS */
h1, h2 {
    font-size: 18px;
    margin-bottom: 4px;
    color: #fff;
}

h4.titulo-novedades {
    font-size: 14px;
    color: #b1a6a6;
    margin-bottom: 5px;
}

.fechas {
    font-size: 12px;
    color: #efe102;
    margin-bottom: 6px;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    .articulo {
        flex-direction: column;
        align-items: center;
    }

    .CEFCE-logo, .portadas {
        width: 80px;
    }

    .texto-articulo {
        text-align: left;
    }
}
/* Animación */
@keyframes desplazamiento-horizontal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
