/* Variables CSS */
:root {
  --fondo-principal: #2e2c2f;
  --color-texto: #ffffff;
  --color-acento: #efe102;
  --color-enlace: #f9f51c;
  --color-borde: #eeff06;
  --color-fondo-articulo: #000000;
  --color-borde-articulo: #eeff06;
  --color-fondo-menu: #f0f0f0;
  --color-borde-menu: #000000;
}

/* Estilo global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--fondo-principal);
  color: var(--color-texto);
  font-family: Arial, sans-serif;
}
